@model TrelloClone.ViewModels.AddCard
@{
    ViewData["Title"] = "AddCard";
}

<div class="container">
    <div class="row">
        <h2>Add Card</h2>
        <form asp-action="AddCard" asp-controller="Board">
            <div asp-validation-summary="All" class="red-text"></div>
            <label>Contents</label>
            <input type="text" asp-for="Contents"/>
            <button type="submit" class="btn">Add Card</button>
        </form>
    </div>
</div>

