<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav>
            <div class="nav-wrapper">
                <a asp-controller="Home" asp-action="Index" class="brand-logo center">Kanban Boards</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a asp-controller="Home" asp-action="Index">
                            Boards
                        </a>
                    </li>
                </ul>
                <partial name="_LoginPartial"/>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
